<?xml version="1.0"?>
<config>
  <modules>
    <Ripples_Customenu>
      <version>0.1.0</version>
    </Ripples_Customenu>
  </modules>
  <frontend>
    <routers>
      <customenu>
        <use>standard</use>
          <args>
            <module>Ripples_Customenu</module>
            <frontName>customenu</frontName>
          </args>
      </customenu>
    </routers>
		<layout>
		  <updates>
			<customenu>
			  <file>customenu.xml</file>
			</customenu>
		  </updates>
		</layout>
  </frontend>
  <global>
	<models>
	  <customenu>
		<class>Ripples_Customenu_Model</class>
	  </customenu>
	</models>
    <helpers>
      <customenu>
        <class>Ripples_Customenu_Helper</class>
      </customenu>
    </helpers>
	<blocks>
	  <customenu>
		<class>Ripples_Customenu_Block</class>
	  </customenu>
	  <catalog>
			<rewrite>
				<navigation>Ripples_Customenu_Block_Catalog_Navigation</navigation>
			</rewrite>
		</catalog>
	</blocks>
  </global>
</config> 